.Grafana-panel {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
  
  .expand-btn {
    position: absolute;
    right: 10px;
    background-color: var(--reverse-color);
    color: var(--shadow-1-color);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    z-index: 1;
    opacity: 0.1;

    &:hover{
      opacity: 1;
      transition: 0.5s;
    }
  }
}
