.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%; 
}

.header {
  flex: 0 0 auto;
}
@keyframes animate {
  0% {

    border-bottom-color: black;
    border-right-color: black;
  }
  100% {
    border-bottom-color:  #a3e89b;
    border-right-color: #a3e89b;
  }
}

