:root {
  /* DARK MODE */
  --background-color: #181b1f;
  --background-secondary-color: #2e3136;
  --text-color: #ccccdc;
  --text-color-hover: white;
  --border-color: #2e3136;
  --active-color: #f4821d;
  --reverse-color: white;
  --shadow-1-color: #0e0e0e;
  --shadow-2-color: #363636;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  
}

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  
  background-color: var(--background-color);
  opacity: 1;
  background-size: 11px 11px;
  background-image: repeating-linear-gradient(45deg, var(--background-secondary-color) 0, var(--background-secondary-color) 1.1px, var(--background-color) 0, var(--background-color) 50%);

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
