.generacion-container {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 100vw; /* Ocupa toda la anchura de la ventana */
  padding: 5px;
  box-sizing: border-box;

  .c1-generacion-container,
  .c2-generacion-container {
    height: 100%;
  }

  .c1-generacion-container {
    width: 40%;
  }

  .c2-generacion-container {
    width: 60%;
    display: flex;
    flex-direction: column;
  }

  .all-clients,
  .selected-client,
  .total-generation {
    padding: 10px;
    box-sizing: border-box;
  }

  .all-clients {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > iframe {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: var(--background-color);
      box-shadow: -5px -5px 15px var(--shadow-1-color),
        5px 5px 15px var(--shadow-2-color);
    }
  }

  .selected-client {
    display: flex;
    flex-direction: column;
    height: 100%;

    .selected-client-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      
      width: 100%;
      height: 100%;
      border-radius: 5px;
      background: var(--background-color);
      box-shadow: -5px -5px 15px var(--shadow-1-color),
        5px 5px 15px var(--shadow-2-color);
      & > iframe {
        align-self: center;
        width: 98%;
        height: 80%;
        border-radius: 5px;
      }
      .selected-client-toolbar {
        display: flex;
        flex-direction: row;
        margin-block: 10px;
        padding-inline: 20px;
        .timestamp-tool {
          display: flex;
          flex-direction: row;
  
          & > * {
            margin-inline: 10px;
          }
        }
  
        justify-content: space-between;
      }
    }

  }

  .selected-client,
  .total-generation {
    width: 100%;
    height: 50%;
  }

  .total-generation {
    display: flex;
    justify-content: space-between;

    & > div {
      border-radius: 5px;
      background: linear-gradient(
        315deg,
        var(--shadow-1-color),
        var(--shadow-2-color)
      );
      box-shadow: -5px -5px 15px var(--shadow-1-color),
        5px 5px 15px var(--shadow-2-color);
    }

    .total-generation-c1 {
      flex: 0.7;
      display: flex;
      flex-direction: column;
      & > iframe {
        width: 100%;
        height: 100%;
      }
    }

    .total-generation-c2 {
      flex: 0.3;
      display: flex;
      flex-direction: column;
      & > iframe {
        width: 100%;
        height: 25%;
      }
    }
  }
}

@media (min-width: 601px) and (max-width: 1600px) {
  .generacion-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%; 
    
    
    .c1-generacion-container,
    .c2-generacion-container {
      height: 100%;
    }
  
    .c1-generacion-container {
      width: 100%;
    }
  
    .c2-generacion-container {
      width: 100%;
    }
  }
}
